# Get rid of Python caching.
__pycache__

# Remove all DB stuff.
*.db

# Remove logs
err.log
discord.log

# Remove mariadb login, discord login
.login-info.txt
.tokenfile

# Remove compiled binaries
compiled

# Remove blacklist file
blacklist.json
